{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text|Capitalise</title>
    <link rel="stylesheet" href="{% static 'utilities/bootstrap.min.css'  %}">
    <script src="{% static 'utilities/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="" class="navbar-brand">UTILITIES APP</a>
    </nav>
    {% block content %}
    {% endblock content %}    
</body>
</html>

